body {
  background-color: whitesmoke;
  height: 100vh;
  width: 100vw;
}

.calculator {
  background-color: white;
  height: 750px;
  max-width: 600px;
  margin: auto;
}

.screen {
  border: solid 2px gainsboro;
  border-radius: 10px;
  height: 250px;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  padding-bottom: 20px;
  padding-right: 20px;
  font-size: 3em;
}

.input-pad {
  width: 100%;
  height: 80%;
  margin: 5% auto;
  display: flex;
}

.number-pad {
  width: 80%;
  height: 90%;
}

.number-pad div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.number-pad button {
  height: 130px;
  width: 130px;
  font-size: large;
}

.operations-pad {
  width: 20%;
  height: 100%;
}

.operations-pad div {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.operations-pad button {
  width: 30%;
  height: 97px;
  width: 98px;
}
